@import "./element-variables.scss";
@import "./variables.scss";
@import "./mixin.scss";
@import "./element-ui.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Sora, Helvetica, sans-serif;
  color: #000;
  font-size: 13px;
}

.over-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.clamp2 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 限制为两行 */
  -webkit-box-orient: vertical;
  overflow: hidden; /* 隐藏超出部分 */
  text-overflow: ellipsis; /* 超出部分用省略号表示 */
  white-space: normal; /* 允许换行 */
  /* 你可能还想设置一些其他样式，比如宽度、字体大小等 */
}
.clamp3 {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 限制为两行 */
  -webkit-box-orient: vertical;
  overflow: hidden; /* 隐藏超出部分 */
  text-overflow: ellipsis; /* 超出部分用省略号表示 */
  white-space: normal; /* 允许换行 */
  /* 你可能还想设置一些其他样式，比如宽度、字体大小等 */
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
button,
input,
optgroup,
select,
textarea {
  font-family: Sora, Helvetica, sans-serif;
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.sec-box {
  margin-bottom: 20px;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}
.add {
  margin: 5px 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
.sec-title {
  color: #333;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  margin: 20px 0 15px 0;
}
